{% extends "admin/change_list.html" %}

{% block object-tools %}
    <div class="actions-wrapper">
        <ul class="object-tools">
            {% block object-tools-items %}
                <li>
                    <a href="{% url 'admin:common_videocopy_bulk_add' %}" class="btn btn-info" style="color: white;">
                        Batch Video Copy
                    </a>
                </li>
                {{ block.super }}
            {% endblock %}
        </ul>
    </div>
{% endblock %}