{% extends "admin/base_site.html" %}
{% load static admin_urls %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h1>{{ title }}</h1>
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="{{ form.video_directory.id_for_label }}">视频目录路径</label>
                            {{ form.video_directory }}
                            <small class="form-text text-muted">{{ form.video_directory.help_text }}</small>
                            {% if form.video_directory.errors %}
                                <div class="text-danger">{{ form.video_directory.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.video_tag.id_for_label }}">视频标签</label>
                            {{ form.video_tag }}
                            {% if form.video_tag.errors %}
                                <div class="text-danger">{{ form.video_tag.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="submit-row">
                            <input type="submit" value="批量添加" class="default btn btn-success" name="_save">
                            <a href="../" class="btn btn-outline-secondary">取消</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}